<footer class="py-12 bg-black mt-36">
  <div class="container px-6 mx-auto lg:px-12">
    <div class="flex flex-col items-start justify-between lg:flex-row">
      <div class="mb-8 lg:mb-0 lg:w-1/4">
        <a href="/" class="text-2xl font-bold text-white">
            Nova 
            <span class="text-2xl font-bold text-orange-500">Tools</span>
        </a>
        <p class="mt-4 text-left text-black dark:text-gray-300">
          Descubra uma gama de ferramentas online, como redimensionamento de imagens, compressão, conversão de arquivos e muito mais.
        </p>
      </div>
      <div class="mb-8 lg:mb-0 lg:w-1/5">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-gray-100">
          Navegue
        </h2>
        <ul class="space-y-2">
          <li class="duration-100 hover:scale-105">
            <a
              href="/home"
              class="font-bold text-white duration-100 hover:text-white-300 hover:scale-105 hover:text-orange-500"
            >
              Início
            </a>
          </li>
          <li class="duration-100 hover:scale-105">
            <a
              href="#tools"
              class="font-bold text-white duration-100 hover:text-white-300 hover:scale-105 hover:text-orange-500"
            >
              Todas Ferramentas
            </a>
          </li>
          <li class="duration-100 hover:scale-105">
            <a
              href="https://novasoftwaresolutions.com.br/"
              class="font-bold text-white duration-100 hover:text-white-300 hover:scale-105 hover:text-orange-500"
            >
              Nova Software
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-8 lg:mb-0 lg:w-1/5">
        <h2 class="mb-4 text-xl font-bold text-white duration-100 hover:text-white-300 hover:scale-105">
          Redes Sociais
        </h2>
        <div class="flex items-center gap-2">
          <!-- GitHub Icon -->
            <a
            href="https://github.com/Nova-Software-Organization"
            target="_blank"
            title="GitHub"
            class="hover:text-orange-500"
            rel="noopener noreferrer"
          >
            <i class="fab fa-github text-2xl text-black dark:text-gray-300 duration-100 hover:scale-105 hover:text-orange-500"></i>
          </a>

          <!-- LinkedIn Icon -->
          <a
            href="https://www.linkedin.com/company/nova-software-organization/"
            target="_blank"
            title="LinkedIn"
            class="hover:text-orange-500"
            rel="noopener noreferrer"
          >
            <i class="fab fa-linkedin text-2xl text-black dark:text-gray-300 duration-100 hover:scale-105 hover:text-orange-500"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center mt-12 text-center text-black dark:text-gray-300">
      <img src="/assets/img/logo.png" alt="logotipo Nova Software" class="w-32 h-32" />
      <p class="font-extrabold text-transparent bg-gradient-to-r from-orange-500 to-orange-600 bg-clip-text">
        &copy; 2024 Nova Tools. Todos os direitos reservados.
      </p>
    </div>
  </div>
</footer>
